/*=========================================
================= global ==================
==========================================*/

:root {
  --a: #4e4040;
  --bg: #f5f5f5;
  --main: #3f6967;
  --hover: #c11e31;
  --active: #ea7240;
  --primary: #ef4511;
  --white: #fff;
  --black: #000000;
  --grey: #777;
}
@font-face {
  font-family: 'tajwal';
  src: url('../font/ArbFONTS-Tajawal-Black.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'tajwal';
  src: url('../font/ArbFONTS-Tajawal-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'tajwal';
  src: url('../font/ArbFONTS-Tajawal-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'tajwal';
  src: url('../font/ArbFONTS-Tajawal-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: tajwal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* 
h1,h2,h3,h4,h5,h6{
  margin: 0 ;
  padding: 0 ;
} */

.circle {
  border-radius: 50% !important;
  padding: 0.5rem 0.7rem;
}

body {
  overflow-x: hidden;
  direction: rtl;
}

.round {
  border-radius: 3.9375rem;
}
.unmargin {
  margin-top: 0 !important;
}
section {
  margin-top: 3rem;
}
section.bg {
  background-color: var(--bg);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main) !important;
}

img {
  width: 100%;
}

i,
svg {
  line-height: 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main) !important;
  border: none;
  color: white !important;
  transition: 0.3s;
}
.btn.padding {
  padding: 0.625rem 2rem;
}
.btn,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:hover {
  background-color: var(--active) !important;
  color: white;
  border-radius: 3.125rem 0rem 3.125rem 3.125rem;
}
.primary {
  background-color: var(--active) !important;
}
.primary:hover {
  background-color: var(--main) !important;
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main);
}

.link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.bg {
  background-color: var(--bg) !important;
}

.padding {
  padding: 0.7rem 0 !important;
}
.btn.padding {
  padding: 0.625rem 1.8rem !important;
}
section a.padding {
  padding: 0.625rem 2rem !important;
}
.card {
  border: none !important;
  overflow: hidden;
  position: relative !important;
}
.whats-app {
  position: fixed !important;
  bottom: 3rem;
  /* right: 1rem; */
  inset-inline-start: 3rem;
  display: block;
  width: 50px !important;
  height: 50px !important;
  z-index: 222;
  background-color: #18BB1D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white) !important;
  font-size: 1.5rem;
}
.sec-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.sec-title h3 {
  color: var(--main);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.06rem;
  margin-bottom: 0.5rem;
}

.sec-title p {
  width: 45%;
  flex-shrink: 0;
  color: var(--grey);
  text-align: center;
  font-weight: 500;
  line-height: 1.6875rem;
}

.prim-btn {
  background-color: var(--active) !important;
}
.prim-out-btn {
  background-color: transparent !important;
  color: var(--white) !important;
  border: 1px solid var(--white) !important;
}
.prim-out-btn:hover {
  color: var(--active) !important;
  background-color: var(--white) !important;
}

/* float icon */
.float-icon {
  background-color: var(--main);
  position: absolute;
  inset-inline-end: 50%;
  z-index: 11;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
  font-size: 14px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.float-icon:before {
  content: '';
  position: absolute;
  border: 6px solid #3f696789;
  inset: -6px;
  box-shadow: 0 0 0 6px #3f696745;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.float-icon:hover:before {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: ripple-out 1s infinite;
  animation: ripple-out 1s infinite;
}
/* Ripple Out */
@keyframes ripple-out {
  100% {
    inset: -10px;
    opacity: 0;
  }
}
@-webkit-keyframes ripple-out {
  100% {
    inset: -10px;
    opacity: 0;
  }
}

/*=========================================
==========================================*/

.modal-dialog {
  max-width: 60% !important;
  margin-left: auto;
  margin-right: auto;
}

.modal-body .form {
  padding: 5rem 3rem;
}
/*==================================================
================== contacts ========================
===================================================*/

.contacts {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.contacts .contact i {
  margin: 0 0.5rem;
}
.contacts a {
  color: var(--white) !important;
}
/*=========================================
================= navbar ==================
==========================================*/

/* ========= cart canvas ==========*/
.cart-canvas .card {
  padding: 1rem;
}
.cart-canvas .card h6 span {
  font-size: unset;
  margin-bottom: 0;
}
.cart-canvas .card img {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}
/*========================================*/
.actions.dropdown-menu.show {
  background: transparent !important;
  border: none !important;
}
.dropdown-menu.show {
  display: block;
  background: unset !important;
  border: none !important;
}
.w-180{
  width: 180px !important;
}
.nav-item {
  /* font-size: 1rem; */
  font-weight: bold;
}
.nav-link {
  color: var(--main) !important;
}
.nav-item a:hover {
  color: var(--active) !important;
}
.nav-item a.active {
  color: var(--active) !important;
}
.navbar-brand {
  margin: unset !important;
  width: 50px !important;
}
nav {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  z-index: 222;
  background-color: white;
  transition: 0.3s;
}
nav.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.256);
}

.navbar {
  --bs-navbar-padding-y: 0.3rem;
}

.navbar-collapse {
  position: unset;
}
.navbar-collapse.active {
  right: 0;
}

.navbar-toggler,
#close {
  border: none;
  color: var(--main);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}
.navbar-toggler:hover,
#close:hover {
  color: var(--active);
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/*=========================================
================= header ==================
==========================================*/
header {
  background: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.landing {
  /* height: calc(100vh - 125px) !important; */
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-header {
  display: none !important;
}

.header {
  position: relative;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh;
  min-height: 100px;
  max-height: 165px;
}

/* Animation */

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
    infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.img {
  /* height: calc(100vh - 148.5px); */
  /* height: calc(100vh - 70px); */
  width: 100%;
  border-radius: 3.9375rem;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.landing .row {
  margin-top: -5rem !important;
}
header .landing .text {
  padding-right: 3rem;
  margin-bottom: 3rem;
  z-index: 22222;
}
.text-w {
  color: var(--white) !important;
}
p.text-w {
  opacity: 0.7;
}
.text span {
  color: var(--active);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.text h1,
.text h2 {
  color: var(--main);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 121.2%;
  text-transform: uppercase;
  margin: 1rem 0;
}

.text p {
  color: var(--grey);
  font-weight: 400;
  line-height: 160%;
  /* letter-spacing: -0.02rem; */
}

/*=========================================
================= about ===================
==========================================*/

.about .img {
  height: auto;
  flex-shrink: 0;
  border-radius: 3.125rem 0rem 3.125rem 3.125rem;
  background: #c4c4c4;
}

/* .about .text span{
  color: var(--active);
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
} */

/* .about .text h2{
  color: #000;
  margin: 1rem 0;
text-align: right;
font-size: 1.7rem;
font-weight: 700;
text-transform: capitalize;
} */

.about .text p {
  color: var(--grey);
  text-align: right;
  line-height: 1.6875rem;
}

/* =========================================================== 
======================== courses =============================
=============================================================*/

.courses .heart {
  /* min-height: 345px;
  max-height: 345px; */
  overflow: hidden;
}
.courses .heart img {
  min-height: 345px;
  max-height: 345px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.3s;
}
.courses .heart img:hover {
  transform: scale(1.1);
}
.courses .heart .title {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 1.3rem;
  color: white;
  z-index: 22;
  transition: 0.3s;
  font-weight: bold;
}
.courses .heart:hover .title {
  display: none;
}
.courses .heart .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}

.courses .heart:hover .overlay {
  top: -100%;
}

.courses .add-cart {
  position: absolute;
  top: 12%;
  left: 11%;
  transform: translate(-5%, -12%);
  opacity: 0;
  justify-content: center;
  background: transparent !important;
  font-size: 1.5rem;
  transition: 0.3s;
  z-index: 1111;
}
.courses .add-cart i {
  transition: 0.3s;
}
.courses .add-cart:hover i,
.courses .add-cart.active i {
  color: var(--primary);
}

.courses .heart:hover .add-cart,
.courses .add-cart.active {
  opacity: 1;
}

.courses .desc{
  color: var(--active);
  /* color: #8f7b6f59; */
}
.courses .desc .price{
  color: var(--main);
}

/* <use xlink:href="#gentle-wave" x="48" y="0" fill="#934f7776" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="#b174625d" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="#62757465" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#8f7b6f59" /> */
.heart {
  position: relative;
  width: 100%;
  height: 16rem;
  float: left;
}
/* .heart:before,
.heart:after{
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after{
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
} */

/* =========================================================== 
======================== meetings ============================
=============================================================*/

.meetings .owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .meetings .owl-item.active:nth-child(odd) > div {
  height: 16rem;
} */
.meetings .owl-item.active:nth-child(even) > div {
  margin-bottom:  16rem;
}
.meetings .owl-item.active.center > div {
  height: 100%;
}
.meetings .item .card{
  height: 100% !important;
}
.meetings .item {
  /* width: 90%; */
  height: 16rem;
  border-radius: 0.75rem;
  background: var(--grey);
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  /* -webkit-clip-path: polygon(74% 12%, 93% 50%, 74% 88%, 23% 88%, 7% 50%, 23% 12%);
                clip-path: polygon(74% 12%, 93% 50%, 74% 88%, 23% 88%, 7% 50%, 23% 12%); */
}

.meetings .item a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
  color: var(--active);
  font-size: 1rem;
  color: var(--white);
}

.meetings .item video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.meetings .container {
  position: relative;
}

.meetings .owl-nav .owl-prev {
  position: absolute;
  right: -4rem;
  top: 45%;
  transform: translate(-40%);
}

.meetings .owl-nav .owl-next {
  position: absolute;
  left: -4rem;
  top: 45%;
  transform: translate(45%);
}

.meetings .owl-theme .owl-nav [class*='owl-'] {
  color: var(--main) !important;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem !important;
  font-weight: 300 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.256);
}
.meetings .owl-theme .owl-nav [class*='owl-']:hover {
  color: var(--active) !important;
  text-decoration: none !important;
}

/*================================================
================= articles ======================
=================================================*/

.articles .container {
  position: relative;
  padding-bottom: 2rem;
}
.articles .owl-dots {
  position: absolute;
  left: 0;
  bottom: -3rem;
}

.articles .owl-nav {
  position: absolute;
  right: 0;
  bottom: -3.7rem;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: var(--main) !important;
  font-size: 1.7rem !important;
  font-weight: 300 !important;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background-color: unset;
  color: var(--active) !important;
  text-decoration: none !important;
}

.articles .card {
  padding: 1rem 0.5rem;
}
.articles .card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.articles .card-header {
  border: none;
  background-color: var(--white);
}
.articles .title h3 {
  color: var(--main);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0;
}

.articles .title span {
  color: var(--grey);
  font-size: 0.9rem;
  font-weight: 400;
}

.articles .date {
  color: var(--active);
  font-size: 1rem;
  font-weight: 400;
}

.articles .card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  --webkit-line-clamp: 2;
  line-height: 1.6;
  max-height: 100px;
  color: var(--grey);
}

.canvas-articles {
  width: 100% !important;
}

.canvas-articles .content p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--grey);
  line-height: 2;
}

.offcanvas .offcanvas-footer p {
  margin-bottom: 0;
  color: var(--main);
  font-size: 1.1rem !important;
  font-weight: 500;

  span {
    color: var(--active);
    margin-left: 0.5rem;
  }
}
/*==================================================
===================== rates ========================
===================================================*/

.rates .card {
  /* border-radius: 3.75rem 0.75rem; */
  /* background-color: #3f6967ee; */
  /* background: url('../images/card.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 35px;
  border: 2px solid var(--grey) !important;
  /* margin: 1rem; */
  /* width: 65%; */
  /* height: 100vh; */

  overflow: unset !important;
  /* margin-top: 2rem; */
  position: relative;

    margin-bottom: 3rem;


}
.rates .card::after, .rates .card::before {
  content: '';
  position: absolute;
  bottom: -2.2rem;
  left: 3rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px 40px 0 40px;
  border-color: var(--bg) transparent transparent transparent;
  transform: rotate(0deg);
}
.rates .card::before {
  bottom: -2.4rem;
  left: 3.1rem;
  border-width: 38px 38px 0 38px;
  border-color: var(--grey) transparent transparent transparent;
}
/* .rates .card::after ,
.rates .card::before {
  content: '';
  position: absolute;
  bottom: -5rem;
  left: 3rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 80px 80px 0 80px;
  border-color: var(--bg) transparent transparent transparent;
  transform: rotate(0deg);
}
.rates .card::before {
  bottom: -5.2rem;
  left: 2.9rem;
  border-width: 82px 82px 0 82px;
  border-color: var(--grey) transparent transparent transparent;
} */
/* .rates  .owl-carousel .owl-stage-outer{
    overflow: visible !important;
} */



.rates .card svg {
  position: absolute;
  top: -7%;
  left: 44%;
  transform: translate(0%);
  height: 15%;
  width: 15%;
}

.rates .card .text {
  color: var(--main);
  margin-top: 1rem;
  font-size: 1rem;
}
.Stars {
  margin-top: 2rem;
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: 30px;
}

.Stars::before {
  content: '★★★★★';
  background: linear-gradient(
    -90deg,
    var(--active) var(--percent),
    #e5e5e5 var(--percent)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating h4,
.rating h5 {
  line-height: 1.5;
  color: var(--primary);
  margin-bottom: 0;
}

.rating h5 {
  opacity: 0.7;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--main);
}

.rates .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rates .owl-dots {
  margin-top: 2rem !important;
}
.owl-dot span {
  transition: 0.3s;
}
.owl-dot.active span {
  width: 25px !important;
  background-color: var(--active) !important;
}

.owl-dot:hover span {
  background-color: var(--active) !important;
}

/*===========================================
================== statics ===================
============================================*/
.statics .card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statics .card .icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background: url('../images/icons/flower.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: configure-clockwise 6s infinite alternate;
  animation: configure-clockwise 6s infinite alternate;
}
@-webkit-keyframes configure-clockwise {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes configure-clockwise {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.statics .card .icon .inner-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  border-radius: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-animation: x-configure-clockwise 6s infinite alternate;
  animation: x-configure-clockwise 6s infinite alternate;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@-webkit-keyframes x-configure-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes x-configure-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
  }
}

.card-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statics .text h3 {
  color: var(--main);
  margin-top: 1rem;
}

.statics .text h4 {
  color: var(--active);
}

/*============================================
================= contact us =================
=============================================*/

.contact-us .social {
  justify-content: flex-start !important;
  margin-top: 1rem;
}

/* .contact-us .social a {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.256);
} */

.contact-us .our-num {
  background-color: var(--main);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 3.125rem 0rem 3.125rem 3.125rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.256);
}

.contact-us .our-num i {
  margin-right: 0.5rem;
  color: var(--active);
}

form.form {
  background-color: var(--main);
  padding: 2rem 3rem;
  border-radius: 3.125rem 0rem 3.125rem 3.125rem;
}

.form-control {
  border: none;
  border-radius: 0;
  border-radius: 3.125rem 0rem 3.125rem 3.125rem;
  padding: 0.7rem;
}

.form-control::-webkit-input-placeholder {
  font-size: 0.9rem;
}

.form-control::-moz-placeholder {
  font-size: 0.9rem;
}

.form-control:-ms-input-placeholder {
  font-size: 0.9rem;
}

.form-control::-ms-input-placeholder {
  font-size: 0.9rem;
}

.form-control::placeholder {
  font-size: 0.9rem;
}

.form-control:focus {
  border-color: var(--active);
  box-shadow: 0 0 0 0.25rem #ea73407e;
}

form.form .btn {
  background-color: var(--active) !important;
}
.form.form .btn:hover {
  background-color: var(--active) !important;
  box-shadow: 0 0 0 0.25rem #ea73407e;
}

/*===========================================
================== footer ===================
============================================*/

footer {
  /* background-color: var(--main); */
  /* background: url('../images/background.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: var(--white);
  position: relative;
}
footer .waves {
  height: 0vh;
}
footer .contacts {
  margin-bottom: 6rem !important;
}
.footer-logo {
  color: var(--white) !important;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-logo img {
  width: 15%;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social a {
  color: var(--main) !important;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: var(--white);
  border: 4px solid var(--active);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin: auto;
}
.social a.one {
border-color: var(--primary) !important;
  color: var(--primary) !important;
}
.social a.two{
  border-color: var(--a) !important;
  color: var(--a) !important;
}
.social a.three{
  border-color: #934F77 !important;
  color: #934F77 !important;
}
.social a.four{
  border-color: var(--main) !important;
  color:  var(--main) !important;
}
.social a.five{
  border-color: var(--grey) !important;
  color: var(--grey) !important;
}
.social a.sex{
  border-color: var(--active) !important;
  color: var(--active) !important;
}







.social a:hover {
  /* color: var(--active) !important ; */
  transform: scale(1.1);
}
.contacts a {
  color: var(--main) !important;
}

.contacts .contact i{
  color: var(--main);
}

footer .contacts {
  width: 55%;
  justify-content: space-evenly;
}

footer hr {
  color: var(--white);
}

.copy-right {
  background-color: #f2f2f2;
}

.copy-right p {
  margin-bottom: 0;
  font-size: 1rem;
}
.copy-right .smart-logo {
  width: 120px;
}

[type='email'],
[type='number'],
[type='tel'],
[type='url'] {
  direction: rtl !important;
}

/*============================================================================*/
.books{
  margin-top: 3rem;
}
.books .buy {
  width: 60%;
}
.wrap {
  height: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  position: relative;
  /* padding: 3rem 0; */
}
.wrap .perspective {
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
  /* overflow: hidden; */
}
.book-wrap {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all ease-out 0.6s;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transform: rotateY(-5deg);
}
.book {
  width: 100%;
  /* height: 100%; */
  height: 450px;
  background: url('../images/cover.jpg');
  border-radius: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  margin: auto;
  cursor: pointer;
  
}
.books .title {
  content: '';
  height: 100%;
  width: 3%;
  position: absolute;
  right: 32.3%;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--main);
  transform: rotateY(80deg) translateX(14px);
}
.book-back {
  width: 100%;
  /* height: 600px; */
  /* background-color: var(--main); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/back.jpg') no-repeat center center;
  background-size: contain;
  margin: auto;
  cursor: pointer;
  transform: rotate(360deg) translateZ(-30px) translateX(5px);
}
.book-back .text {
  transform: rotateX(180deg);
  position: absolute;
  bottom: 30px;
  padding: 20px;
  text-align: left;
}
.book-back .text h3 {
  margin-bottom: 20px;
  color: #fff;
}
.book-back .text span {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}
.book-back .text span:last-of-type {
  margin-top: 30px;
}
.rotate {
  transform: rotateY(-20deg);
}
.flip {
  transform: rotateY(-180deg);
}
.buy.one{
  background-color: var(--primary) !important;
  transition: .3s;
}
.buy.one:hover{
  background-color: var(--main) !important;

}
.buy.two{
  background-color: var(--hover) !important;
  transition: .3s;
}
.buy.two:hover{
  background-color: var(--active) !important;
}
.books .owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
.books .sec-title {
  align-items: start !important;
}
.books .sec-title h3 {
  font-size: 2rem !important;
  font-weight: bold;
}
.books .sec-title p {
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
}




.book-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding: 4px;
}
.book-items {
  position: relative;
  cursor: default;
  padding: 16px;
  margin: 0;
  display: grid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  justify-items: center;
}

.main-book-wrap {
  position: relative;
  width: 35%;
}

.book-cover {
  position: relative;
}

.book-cover .book-inside {
  position: absolute;
  width: 90%;
  height: 96%;
  top: 1%;
  /* left: 16px; */
  border: 1px solid grey;
  border-radius: 2px 6px 6px 2px;
  background: white;
  box-shadow: 10px 40px 40px -10px #00000030, inset -2px 0 0 grey,
    inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
    inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
    inset -9px 0 0 #dbdbdb;
}

.book-cover .book-image {
  line-height: 0;
  position: relative;
  border-radius: 2px 6px 6px 2px;
  box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2),
    24px 28px 40px -6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform: perspective(2000px) rotateY(-15deg) translateX(-10px) scaleX(0.94);
  cursor: pointer;
}

.book-image img {
  grid-row: 1 / -1;
  grid-column: 1;
  width: 100%;
  border-radius: 2px 6px 6px 2px;
}

.book-image:hover {
  transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
  transform-style: preserve-3d;
  box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
    20px 14px 16px -6px rgba(0, 0, 0, 0.1);
}

.effect {
  position: absolute;
  width: 20px;
  height: 100%;
  margin-left: 16px;
  top: 0;
  border-left: 2px solid #00000010;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: all 0.5s ease;
  z-index: 5;
}

.light {
  width: 90%;
  height: 100%;
  position: absolute;
  border-radius: 3px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  top: 0;
  right: 0;
  opacity: 0.1;
  transition: all 0.5s ease;
  z-index: 4;
}

.book-image:hover .effect{
    margin-left: 14px;
}

.realvjy{
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center
}



/*================================================
================ media query =====================
=================================================*/

@media (max-width: 991px) {
  .footer-logo img {
    width: 25%;
  }
  .navbar {
    --bs-navbar-padding-y: 0rem;
  }
  .modal-dialog {
    max-width: 80% !important;
  }
  .landing .row {
    margin-top: -2rem !important;
  }
  .landing {
    height: calc(100vh - 80px) !important;
  }
  form.form {
    padding: 2rem 1rem;
  }
  .rates .card {
    padding: 3rem 1.5rem;
  }
  .meetings .owl-nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1.5rem;
  }
  .meetings .owl-nav .owl-prev {
    position: unset;
    right: -4rem;
    top: 45%;
    transform: unset;
  }

  .meetings .owl-nav .owl-next {
    position: unset;
    left: -4rem;
    top: 45%;
    transform: unset;
  }
  .nav-header {
    display: flex !important;
  }
  .navbar-collapse {
    z-index: 222222;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: var(--bg);
    transition: 0.3s;
  }
  .navbar-collapse.active {
    right: 0;
  }

  header {
    height: unset !important;
  }

  nav {
    position: relative;
  }

  .img {
    height: unset;
  }
  .about .img {
    height: unset;
  }
  .rates .card {
    width: 90%;
  }

  .contacts {
    width: 100%;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .sec-title p {
    width: 60%;
  }
  header .landing .text {
    padding-right: 0rem;
    margin-top: -3rem;
    margin-bottom: 0rem;
  }
  .buy {
    font-size: 0.8rem;
  }
  .books .title {
    width: 4%;
    right: 25.3%;
  }

  .main-book-wrap {
    position: relative;
    width: 60%;
}

}

@media (max-width: 625px) {
  .footer-logo img {
    width: 35%;
  }
  .copy-right p {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .copy-right .smart-logo {
    width: 100px;
  }

  /* .landing .row{
    margin-top: 0 !important;
  } */
  .landing .text span.text-w {
    position: absolute;
    top: 25%;
    left: 11%;
    transform: translate(-7%, -25%);
    font-size: 1.6rem;
  }
  .landing .img {
    width: 55%;
    border-radius: 1.5rem;
  }

  .modal-body .form {
    padding: 4rem 1rem;
  }

  .btns .btn {
    padding-right: 0.8rem !important;
    padding-left: 0.8rem !important;
  }

  .modal-dialog {
    max-width: 90% !important;
  }
  form.form {
    padding: 2rem 0.5rem;
  }
  .rates .card {
    padding: 3rem 1rem;
  }
  .rates .card {
    width: 100%;
  }
  .navbar-collapse {
    width: 80%;
  }
  .contacts {
    width: 100%;
  }

  .img {
    height: unset;
  }
  .about .img {
    height: unset;
  }
  .sec-title p {
    width: 100%;
  }

  .btn.padding {
    padding: 0.625rem 0.8rem !important;
  }
  .courses .add-cart {
    bottom: 15%;
  }
  .courses .card:hover .add-cart .add-basket.active,
  .courses .card:hover .add-cart .remove-basket.active {
    display: flex !important;
    font-size: 0.8rem;
  }
  .courses .add-cart i {
    margin-right: 0.2rem;
  }
  .courses .card .title {
    font-size: 1rem;
  }

  .courses .card {
    min-height: 170px;
    max-height: 170px;
  }

  .meetings .item {
    height: 200px;
  }
  .meetings .owl-item.active:nth-child(odd) > div {
    height: 200px;
  }
  .meetings .owl-item.active:nth-child(even) > div {
    height: 200px;
  }
  /* .meetings .owl-item.active.center > div {
  height: 15rem;
} */

  .books .title {
    height: 52%;
    width: 9%;
    right: -4%;
  }
  .book-btns {
    display: flex;
    flex-direction: column !important;
  }
  .buy {
    font-size: 0.6rem;
  }
  .courses .add-cart {
    top: 12%;
    left: 11%;
    transform: translate(40%, -35%);
    opacity: 0;
    font-size: 2rem;
  }

  .meetings .item {
    width: 100%;
  }

  footer .contacts {
    margin-bottom: 2rem !important;
  }

  /* footer .social {
    flex-wrap: wrap;
    gap: 2.9rem;
} */

.whats-app {
  bottom: 2rem;
  inset-inline-start: 1rem;
}

/* 
.rates .card::after ,
.rates .card::before {
  content: '';
  position: absolute;
  bottom: -5rem;
  left: 25%;
}
.rates .card::before {
  bottom: -5.2rem;
  left: 25%;
  border-width: 82px 82px 0 82px;
  border-color: var(--grey) transparent transparent transparent;
} */

.social {
  display: block;
  -moz-columns: 3;
       columns: 3;
  gap: 1rem;
}
.social li{
  padding: .5rem;
}

.main-book-wrap {
  position: relative;
  width: 90%;
}
.w-180 {
  width: 130px !important;
}
.meetings .owl-item.active:nth-child(even) > div {
  margin-bottom:  0;
}
.books .buy {
  width: 100%;
}
}

/*======================================*/
